In [18]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [19]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [54]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, desc

In [55]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [56]:
# reflect an existing database into a new model
Database = automap_base()

# reflect the tables
Database.prepare(engine, reflect=True)

In [57]:
# View all of the classes that automap found
Database.classes.keys()

['measurement', 'station']

In [58]:
# Save references to each table
Measurement = Database.classes.measurement
Station = Database.classes.station

In [59]:
# Create our session (link) from Python to the DB
session = Session(bind=engine)
inspector = inspect(engine)

In [60]:
inspector.get_columns('measurement')

[{'name': 'id',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'station',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'date',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'prcp',
  'type': FLOAT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'tobs',
  'type': FLOAT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

# Exploratory Precipitation Analysis

In [62]:
# Find the most recent date in the data set.
recent_date = session.query(Measurement.date).order_by(Measurement.date.desc()).first()
recent_date[0]

'2017-08-23'

In [71]:
# GOAL TO THE END: Design a query to retrieve the last 12 months of precipitation data and plot the results. 

# STEP 1: Starting from the most recent data point in the database. 

print(f' Recent timestamp: {recent_date[0]}')


# STEP 2: Calculate the date one year from the last date in data set.

twelvemo = dt.datetime.strptime(recent_date[0],'%Y-%m-%d') - dt.timedelta(days=365)
print(f' Twelve months ago: {twelvemo}')

# STEP 3: Perform a query to retrieve the data and precipitation scores

precip12mo = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date > twelvemo).all()
#print(precip12mo)
# STEP 4: Save the query results as a Pandas DataFrame and set the index to the date column

precip_df = pd.DataFrame(precip12mo, columns = ['date', 'prcp'])
precip_df.sort_values('date', ascending=False)

# STEP 5: Sort the dataframe by date



# STEP 6: Use Pandas Plotting with Matplotlib to plot the data

 Recent timestamp: 2017-08-23
 Twelve months ago: 2016-08-23 00:00:00

            date  prcp
2222  2017-08-23  0.45
1523  2017-08-23  0.08
1005  2017-08-23  0.00
359   2017-08-23  0.00
1522  2017-08-22  0.00
...          ...   ...
1188  2016-08-24  1.22
1875  2016-08-24  1.45
360   2016-08-24  2.15
1524  2016-08-24  2.15
0     2016-08-24  0.08

[2223 rows x 2 columns]

In [72]:
# Use Pandas to calculate the summary statistics for the precipitation data
precip_df.describe()

              prcp
count  2015.000000
mean      0.176462
std       0.460288
min       0.000000
25%       0.000000
50%       0.020000
75%       0.130000
max       6.700000

# Exploratory Station Analysis

In [12]:
# Design a query to calculate the total number stations in the dataset

In [13]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [14]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [15]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [16]:
# Close Session
session.close()

NameError: name 'session' is not defined